
@{
    ViewBag.Title = "Confirmation Email Link";
}
<div class="col-md-12" style="padding-top: 15vh">
    <h2>@ViewBag.Title.</h2>
    <p class="text-info">Please check your email to confirm your email address.</p>
</div>
