@{
    ViewBag.Title = "英";
}
<div class="col-md-12" style="padding-top: 15vh">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>	
