@{
    ViewBag.Title = "英";
}
<div class="col-md-4" style="padding-top: 15vh">
<h1>@ViewBag.Title</h1>
<h3>Nihil Sine Magno Labore.</h3>
    <hr />
<p>Arma virumque canō, Trōiae quī prīmus ab orīs
Ītaliam, fātō profugus, Lāvīniaque vēnit
lītora, multum ille et terrīs iactātus et altō
vī superum saevae memorem Iūnōnis ob īram;
multa quoque et bellō passūs, dum conderet urbem,
inferretque deōs Latiō, genus unde Latīnum,
Albānīque patrēs, atque altae moenia Rōmae. </p>
    <hr />
</div>

