@{
    ViewBag.Title = "英";
}
<div class="col-md-4" style="padding-top: 15vh">
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>
    <hr />
<address>
    241 North Broadway<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">Phone:</abbr>
    800.263.0100
</address>
    <hr />
<address>
    <strong>Email:</strong> <a href="mailto:hanafashiondesigns.com@example.com">hanafashiondesigns@gmail.com</a>
</address>
    <hr />
</div>