
@{
    ViewBag.Title = "Issues";
}
<div class="col-md-6" style="padding-top: 15vh">
    <h1>英</h1>
    <hr />
    <h2>R E S O R T . M M X V I I I</h2>
    <hr />
    <div class="container-fluid" style="position: center; z-index: 5; padding-bottom: 20vh; left: -44vh">
        <div class="row-fluid content">
            <div class="col-xs-12">
                <img src="~/Content/Images/HANAResortModel.jpg" />
            </div>
        </div>
    </div>
</div>

