
@{
    ViewBag.Title = "Index";
}
<div class="col-md-12" style="padding-top: 15vh">
    @if (ViewBag.displayMenu == "Yes")
    {
        <h1>Welcome, Administrator,</h1>
        <h3>Manage the Store from here.</h3>
        <hr />
        <h3>
            @Html.ActionLink("Manage Product Types", "Index", "ProductTypes")
            <br />
            <br />
            @Html.ActionLink("Manage Products", "Index", "Products")
        </h3>
    }
</div>
